@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;
  --border: 0 0% 90%;
}

/* base */
@layer base {
  body {
    @apply bg-white text-black;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Swiper_hero .swiper-button-prev,
.Swiper_hero .swiper-button-next {
  color: white !important;
  opacity: 0;
  transition: all 0.4s ease;
}

.Swiper_hero .swiper-button-prev {
  left: 3% !important;
  transform: translateX(-100px);
}

.Swiper_hero .swiper-button-next {
  right: 3% !important;
  transform: translateX(100px);
}
.Swiper_hero:hover .swiper-button-prev,
.Swiper_hero:hover .swiper-button-next {
  opacity: 1;
  transform: translateX(0);
}
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #fff !important;
  opacity: 0.8 !important;
  border-radius: 90px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 18px !important;
  background: #fff !important;
  opacity: 1 !important;
}

.skeleton-shimmer {
  background: linear-gradient(
    90deg,
    #ddd 0px,
    #e8e8e8 40px,
    #ddd 80px
  );
  background-size: 600px;
  animation: shimmer 1.6s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -100px;
  }

  100% {
    background-position: 140px;
  }
}