@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;
  --border: 0 0% 90%;
}

/* base */
@layer base {
  body {
    @apply bg-white text-black;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Swiper_hero .swiper-button-prev,
.Swiper_hero .swiper-button-next {
  color: white !important;
}

.Swiper_hero .swiper-button-prev {
  left: 4% !important;
  margin-left: -2em !important;
}

.Swiper_hero .swiper-button-next {
  right: 4% !important;
  margin-right: -2em !important;
}
